*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body{
    background-color: cadetblue;
}
ul{
    list-style: none;
}

.box{
    width: 924px;
    margin: 0 auto;
}

/* header start */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
header .hl{
    display: inline-block;
    align-items: center;
}

.hl img{
    display: inline-block;
    width: 2rem;
}
.hl p{
    float: right;
    font-size: 1.6rem;
    color: #fff;
    margin-left: 10px;
}
.navbar_list{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list{
    padding-left: 3rem;
}
.list a{
    color: #fff;
    font-size: 1.6rem;
}
.navbar_list .button button{
    color: #fff;
    border: 2px solid #fff;
    padding: 1.2rem 2.4rem;
    margin-left: 2rem;
    border-radius: 2rem;
}

/* header end */

/* Home page start */
.slider1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slider1 .sl-l img{
    width: 275px;
    height: 300px;
}

.slider1 .sl-l{
    width: 430px;
    height: 320pxs;
    color: #fff;
}

.slider1 .sl-r{
    width: 430px;
    height: 320pxs;
    color: #fff;
    
}
.slider1 .sl-r .btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sl-r .btn button{
    border: none;
    width: 129px;
    height: 55px;
    background-color: red;
    border-radius: 10px;
    padding: 16px 28px;
}
.sl-r .btn a{
    color: #fff;
    font-size: 16px;
}

.sl-r .rs{
    margin-bottom: 16px;
}

.content1 h2{
    color: #fff;
    text-align: center;
    padding: 80px 0 40px 0;
}
.threediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content1 .conbox{
    width: 200px;
    height: auto215px;
}
.content1 .conbox img{
    width: 120px;
    height: 120px;
}
/* Home page end */